.choose-file .wrapper {
    background-color: #ee3233;
}

.choose-file .wrapper .container {
    background-color: #db2d2c;
}

.choose-file .wrapper .container .choose-file-button {
    transition: all ease-out 0.2s;
}

.choose-file .wrapper .container .choose-file-button:hover {
    background-color: rgb(240, 240, 240);
}
