

/* For Desktop */
.navbar{
    margin: 20px 0;
    border-bottom: 1px solid red;
}
.navbar img{
    height: 80px;
    cursor: pointer;
  }
.navbar img,
.navbar ul{
    display: inline-block;
}
.navbar ul{
    text-align: center;
}
.navbar ul li{
    display: inline;
    padding: 30px;
    align-items: center;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all ease-in 0.1s;
  }
  .navbar ul li a:hover {
    color: #ee3233;
  }

